{% extends 'post/base.html'%}
{% load static %}
{% block content%}
{{block.super}}


<!-- Modal -->

<div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-2 p-3">
    {% for images in display %}
    <div>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <img src="{{images.image.url}}" style=" width: 300px; height: 300px" class="img-thumbnail" data-bs-toggle="popover"
                title="{{images.image_name | upper}}" data-bs-content="Popover body content is set in this attribute.">
        </button>
    </div>    
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Photo Name: {{images.image_name |upper}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img src="{{images.image.url}}" style="width: auto; height: 400px;">
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Photo Description: {{images.image_description}}<br>
                        Posted on: {{images.post_date | date}} in {{images.image_location | capfirst}}
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-warning" data-bs-dismiss="modal">Exit</button>
                </div>
            </div>
        </div>
    </div>
    {% empty %}
    <div class="row">
        <h2 class="text-center"><span class="material-symbols-outlined hover:animate-spin">
            </span>There are no Images to show</h2>
    </div>
    {% endfor %}



    {% endblock %}