{% extends 'post/base.html'%}
{% load static %}
{% block content%}
{{block.super}}


<!-- Modal -->
<h4 style="text-align: center; color: white; font-family: 'Poiret One', cursive; padding: 1.5%">Welcome to the Social
    Gallery. Upload and store your favorite pictures here. Enjoy!</h4>

    {% if display %} 

{% for images in display %}
<div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-2 p-3">
    <img src="{{images.image.url}}"
        title="{{images.image_name | upper}} {{images.image_category | capfirst}} {{images.post_date | date}} {{images.image_location | capfirst}}" id="copy"
        style="width: 300px; height: 250px; cursor: pointer;" class="img-thumbnail" alt="{{images.image_category}}"
        onclick="onClick(this)" class="w3-hover-opacity">
</div>

<div id="modal01" class="w3-modal" onclick="this.style.display='none'">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
    <div class="w3-modal-content w3-animate-zoom">
        <img id="img01" style="width:100%">
        <div id="caption">Posted on {{images.post_date}}</div>
        <button class="btn btn-warning" onclick="copyPath('#copy')">Copy</button>
    </div>
</div>


{% empty %}
<div class="row">
    <h2 class="text-center"><span class="material-symbols-outlined hover:animate-spin">
        </span>There are no Images to show</h2>
</div>
{% endfor %}
{% endif %} 

<script>
    function onClick(element) {
        document.getElementById('img01').src = element.src;
        document.getElementById('modal01').style.display = 'block';
        console.log('hello')
    }
</script>

<script>
    function copyPath(element) {
        let path = window.location.href;
        document.getElementById('copy').innerHTML = path;
        document.execCommand('copy')
        navigator.clipboard.writeText(path)
        alert ('Copied')
        console.log(path)
        
    }
</script>
{% endblock %}