@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

h3
{
  color: green;
}

.para {
  color: blue
}

.img-thumbnail {
  width: 300px;
  height: 200px;
  display: grid;
  cursor: pointer;
   
}

.main {
  background-color: #462255;
}

.nav-item, .navbar-brand{
  color: white;
}

.navbar-brand{
  font-family: 'Poiret One', cursive;
  letter-spacing: 2px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 150px;
  text-align: center;
  color: black;
  padding: 10px 0;
  height: 30px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}