@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

h3
{
  color: green;
}

.para {
  color: blue
}

.img-thumbnail {
  width: 100;
  height: 100
}

.main {
  background-color: #462255;
}

.nav-item, .navbar-brand{
  color: white;
}

.navbar-brand{
  font-family: 'Poiret One', cursive;
  letter-spacing: 2px;
}